:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
}

/* IMPORTANT: root container full width */
#root {
  width: 100%;
  min-height: 100vh;
}

/* LANDING PAGE CENTER STYLE */
.landing-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }


}

/* ===== PRODUCT SERVICE PORTAL DESIGN ===== */

.portal-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #5ac8b3, #2a5c53);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

.portal-title {
  font-size: 2.6rem;
  font-weight: 900;
  margin-bottom: 30px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  color: #ffffff;

  border-bottom: 4px solid #5ac8b3;
  display: inline-block;
}


.portal-logo {
  width: 100px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  margin-top: -150px;
}

.brand-icon img {
  width: 210px;
  height: 210px;
  margin-bottom: 3px;
  margin-top: 0px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

/* Floating animation keyframes */
@keyframes flip {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(180deg); }
  100% { transform: rotateY(0deg); }
}

@keyframes floatOrange {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-12px) rotate(3deg); }
  100% { transform: translateY(0) rotate(0deg); }
}

@keyframes floatRed {
  0% { transform: translateY(0) scale(1); }
  50% { transform: translateY(-8px) scale(1.05); }
  100% { transform: translateY(0) scale(1); }
}

.brand-grid {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 25px;
  margin-bottom: 20px;
}

.brand-card {
  height: 160px;
  border-radius: 16px;
  padding: 20px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:normal;
  transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* .brand-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
} */

.brand-card.white:hover .brand-icon img {
  animation: flip 1s ease-in-out;
}

.brand-card.orange:hover .brand-icon img {
  animation: flip 1s ease-in-out;
}

.brand-card.red:hover .brand-icon img {
  animation: flip 1s ease-in-out;
}

.brand-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.brand-card.white:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.3);
}

.brand-card.orange:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.3);
}

.brand-card.red:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.3);
}


/* Card Colors */
.white {
  background: linear-gradient(100deg, #ffffff, #565656);
}

/* .black {
  background: linear-gradient(100deg, #0b0b0b, #ffffff);
} */

.orange {
  background: linear-gradient(100deg, #ffffff, #dd9069);
}

.red {
  background: linear-gradient(100deg, #ffffff, #ee8b8e);
}

.view-btn {
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(135deg, #c7cac9, #5ac8b3);;
  color: rgb(0, 0, 0);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: 0.2s;
}

.view-btn:hover {
  background: rgba(118, 168, 154, 0.6);
}

/* Responsive (mobile) */
@media (max-width: 50px) {
  .brand-grid {
    grid-template-columns: 0fr;
  }
}

.modal-footer {
  position:relative;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  gap: 15px;
  border-radius: 0 0 20px 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  /* border-top: 1px solid #ddd; optional separator */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Modal box */
.modal-container {
  background: #578079;
  width: 800px;              /* bigger width */
  max-width: 90%;
  max-height: 85vh;           /* limit height */
  overflow-y: auto;   /* scroll inside modal */
  flex-direction: column;
  padding: 25px 20px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.25s ease;
  position: relative;
}

.modal-header {
  background: #2a5c53;
  padding: 10px 15px;
  border-radius: 14px 14px 0 0;
  display: flex;
  position:static;
  top: 0;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  text-shadow: #000000 2px 2px 10px;
}

.modal-header h2 {margin: 10px; font-size: 1.5rem;}
.modal-header p {margin: 5px 0 0 0; font-size: 0.9rem; opacity: 0.8;}
.modal-header h5 {margin: 15px 0 0 0; font-size: 0.95rem; opacity: 0.8; }

.close-x {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.modal-close {
  background: none;
  display: flex;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-container input,
.modal-container select,
.modal-container textarea {
  width: 90%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #3d4b5f;
  background: #2e3b4e;
  color: white;
  font-size: 1rem;
}


.modal-container h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #000000;
  text-shadow: #e8fff4 0.9px 0.9px 10px;
}

/* .modal-container button {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
} */

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 22px;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group.brand-group input{
  display: flex;
  flex-direction: column;
  font-weight: 700;
  background-color: #18342f;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000000;
}


.form-group label {
  margin-bottom: 5px;
  color: #000000;
  text-shadow: #e8fff4 0.9px 0.9px 10px;
  font-size: 1rem;
  font-weight: 800;
}

.form-group input, 
.form-group select {
  background: #2e3b4e;
  border: 1px solid #3d4b5f;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-size: 0.95rem;
}

.form-group input::placeholder {
  color: #64748b;
}

.full-width {
  grid-column: span 2;
}

.form-buttons {
  display: flex;
  gap: 18px;
  justify-content: center;
  padding: 18px;
}

/* COMMON BUTTON STYLE */
.form-buttons button {
  border: none;
  border-radius: 14px;
  padding: 14px 26px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease;
  min-width: 150px;
  justify-content: center;
}

/* SAVE BUTTON */
.btn-save {
  background: linear-gradient(135deg, #0ea5b7, #0891b2);
  color: white;
  box-shadow: 0 8px 20px rgba(14,165,183,0.35);
}

.btn-save:hover {
  background: #959595;
  transform: translateY(-2px);
  box-shadow: 0 12px 26px rgba(14,165,183,0.5);
}

/* EXPORT BUTTON */
.btn-export {
  background: linear-gradient(135deg, #14b8a6, #0d9488);
  color: white;
  box-shadow: 0 8px 20px rgba(20,184,166,0.35);
}

.btn-export:hover {
  background: #959595;
  transform: translateY(-2px);
  box-shadow: 0 12px 26px rgba(20,184,166,0.5);
}

/* CANCEL BUTTON */
.btn-cancel {
  background: #9d3030;
  font-weight: 700;
  color: rgb(0, 0, 0);
  box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}

.btn-cancel:hover {
  background: #959595;
  transform: translateY(-2px);
  box-shadow: 0 12px 26px rgba(20,184,166,0.5);
}


/* TEXT STYLE (Save Record stacked text) */
.btn-text {
  color: #000000;
  font-size: medium;
  font-weight: 650;
  line-height: 1.1;
  text-align: left;
}


.btn-submit {
  padding: 10px 20px;
  background-color: #1b6c3b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #45a049;
}

.btn-close {
  background: #ddd;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.records-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-y: auto;
  max-height: 60vh;
  margin-top: 20px;
}

.records-table th,
.records-table td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.records-table th {
  background-color: #2f2f2f;
    color: #fff;
  position: sticky;    /* Sticky header */
  top: 0;              /* Stick to top */
  z-index: 1;
}